@font-face {
  font-family: icomoon;
  src: url(https://firebasestorage.googleapis.com/v0/b/storybook-fonts.appspot.com/o/icomoon.ttf?alt=media&token=c3dcdc5b-ebcd-4a3b-8ee1-2d1c9169d3f4);
  font-weight: normal;
  font-style: normal;
}
